# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
apify_storage
crawlee_storage
storage
pinterest-download-data/
PythonProject/
results*.json
pinterest-download-data
.DS_Store

images
images/*
*.png
*.jpg
*.jpeg
*.gif
*.zip
images-folder/*
image-downloads/*

test/

# Logs
*.log
*.*